/**
 * Custom styles for the front-page.php template.
 */

.entry-inner-wrapper {
	background-color: #e1e1e1;
	position: relative;
	padding: 0;
	margin-left: -6px;
	margin-right: -6px;
	width: calc(100% + 12px); /* 6 + 6 = 12px */
}
.entry-header-bg {
	/* display: inline-block; */
	background-color: #d4d4d4;
	background-size: cover;
	background-position: center;
	height: 270px;
	position: relative;
	width: 100%;
}
a.entry-header-bg-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 0.5s;
}
a.entry-header-bg-link:hover,
a.entry-header-bg-link:focus,
a.entry-header-bg-link:active {
	background-color: rgba(59, 59, 59, 0.33);
}
.entry-inner {
	width: 100%;
	padding: 1rem;
}
.entry-header h1.entry-title {
	font-size: 32px;
	font-size: 2rem;
	line-height: 1.4;
	margin: 1em 0;
}
@media (--sidebar-query) {	
	.site {
		margin: 0 1em;
		display: grid;
		grid-template-columns: 1fr;
	}

	.site-main {
		margin: 2rem 1rem 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
		grid-auto-flow: dense;
		grid-gap: 2rem;
	}

	.post {
		margin-bottom: 0;
		padding: 0 2rem;
		border: 1px solid hsl(0, 0%, 50%);
	}

	.post:first-of-type {
		grid-column: span 2;
		margin: 0;
		padding: 0;

	}

	.wp-block-image.alignleft,
	.wp-caption.alignleft {
		margin-left: 0;
	}

	.wp-block-image.alignright,
	.wp-caption.alignright {
		margin-right: 0;
	}

	.entry-footer {
		border-bottom: none;
	}

	.site-main .posts-navigation {
		width: 100%;
		margin-bottom: 0;
		padding: 2rem 0 0;
		border-top: 1px solid #111;
		border-bottom: none;
	}
	.entry-inner-wrapper {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		background-color: #fff;
	}

}
